html,body {
    width: 100%;
    height: 100%;
}
#box {
    width: 100%;
    height: 100%;
    background-color: rgb(242,242,242);
}
.setPw {
    background-color: rgb(242,242,242);
    width: 100%;
    height: 90%;
}
.navbar {
    width: 100%;
    height: 5%;
}
.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.navbar .container .iconfont {
    padding-top: 1%;
    font-size: 3rem;
}
.head {
    width: 100%;
    background-color: rgb(242,242,242);
    padding: 3% 2%;
}
.head p {
    width: 80%;
    height: 80%;
    display: inline-block;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    line-height: 100%;
}
.head i {
    margin-top: 4%;
    font-size: 1.6rem;
}
.head a {
    color: grey;
    font-size: 1.6rem;
    display: inline-block;
    float: right;
    padding-right: 2%;
}
.content {
    width: 100%;
    margin-bottom: 3%;
}
.content img {
    width: 100%;
}
.phone {
    font-size: 1.4em;
    padding-left: 4%;
    margin: 8% 0 10%;
    color: darkgrey;
}
.phone span {
    color: gray;
    padding-left: 3%;
}
.vCode {
    padding-left: 4%;
    font-size: 1.5rem;
    color: grey;
}
.inputDiv {
    width: 95%;
    height: 20%;
    padding-left: 5%;
    margin-bottom: 20%;
}
.inputDiv .input {
    width: 63%;
    height: 100%;
    font-size: 1.6rem;
    padding: 5%;
    display: inline-block;
    border-color: rgb(232,232,232);
}
.inputDiv .getCode {
    width: 35%;
    height: 100%;
    font-size: 1.7rem;
    padding: 4%;
    background-color: rgb(192,27,55);
    color: white;
    border:none;
    border-radius: 0.5rem;
}
.next {
    font-size: 1.7rem;
    padding: 5%;
    width: 90%;
    height: 40%;
    background-color: rgb(192,27,55);
    color: white;
    margin-left: 5%;
    border:none;
    border-radius: 0.5rem;
}
.passwdDiv {
    margin-top: 8%;
    width: 100%;
    height: 90%;
    text-align: center;
    position: relative;
}
.input-one,.input-two,.input-th {
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
}
.input {
    width: 90%;
    height: 100%;
    font-size: 1.6rem;
    padding: 4%;
    padding-left: 25%;
    border-radius: 5%;
    border: 0.2px solid darkgrey;
    color: gainsboro;
}
.inputText {
    line-height: 4.2rem;
    font-size: 1.7rem;
    position: absolute;
    left:9%;
}
.pwText {
    font-size: 1.6rem;
    color: darkgrey;
    margin-bottom: 10%;
}
.submit {
    font-size: 1.7rem;
    padding: 4%;
    width: 90%;
    height: 10%;
    background-color: rgb(192,27,55);
    color: white;
    margin-left: 5%;
    margin-top: 14%;
    border:none;
    border-radius: 0.5rem;
}
.changePN {
    width: 100%;
    height: 100%;
}
.changePN .passwdDiv .pwText {
    padding: 0 5%;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 19%;
}
.changePN .passwdDiv {
    width: 100%;
    height: 100%;
}
.pNumber,.pCode {
    margin-bottom: 10%;
    width: 100%;
}
.changePN .passwdDiv .pNumber p {
    position: absolute;
    left:0;
    top:30%;
    padding-left: 5%;
    font-size: 1.6rem;
}
.changePN .passwdDiv .pNumber button {
    width: 30%;
    background-color: rgb(192,27,55);
    font-size: 1.5rem;
    padding: 4%;
    color: white;
    border:none;
    border-radius: 0.5rem;
}
.changePN .passwdDiv .pNumber .input-number {
    width: 60%;
    margin-left: 5%;
    float: left;
    padding-left: 5%;
}

.changePN .passwdDiv .pCode p {
    float: left;
    padding-left: 5%;
    font-size: 1.6rem;
}
.changePN .passwdDiv .pCode .input-code {
    padding-left: 5%;
}
.changePN .submit {
    width: 90%;
    height: 10%;
    margin-top: 0;
}







