<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收货地址</title>
    <link rel="stylesheet" href="../css/basebetter.css">
</head>
<body>
<div class="NewPeipt">
    <div class="NewpeiHeader">
        <a href="###" onclick="javascript:history.back()">
            <img src="../img/分类.左箭头.png" class="NewpeiArrows" >
        </a>
        <span class="NewpeiSpan">编辑收货地址</span>
    </div>
    <div class="NewpeiContent">
        <ul class="NewpeiUl" >
            <li>收货人:<input type="text"></li>
            <li>手机号码:<input type="text"></li>
            <li>选择地区:<input type="text"></li>
            <li>详细地址:<input type="text"></li>
        </ul>
    </div>
    <div class="NewpeiFoot">
        <button >保存</button>
    </div>
</div>
</body>
</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
    $("input").eq(0).text()
</script>