<div class="changePN">
    <div class="head">
        <i class="iconfont icon-zuoyoujiantou" onclick="javascript:history.back()"></i>
        <p>更换绑定手机</p>
        <a href="">关闭</a>
    </div>
    <div class="content">
        <img src="image/changePN2.png" alt="">
    </div>
    <div class="passwdDiv">
        <p class="pwText">验证手机码,您可以用手机号登录国美平台,还可以在第一时间获得我们的短信通知,便于您及时获知订单状态</p>
        <div class="pNumber">
            <p>手机号码:</p>
            <input type="text" placeholder="请输入新手机号码" class="input input-number">
            <button>获取验证码</button>
        </div>
        <div class="pCode">
            <p>验证码:</p>
            <input type="text" placeholder="点击获取验证码" class="input input-code">
        </div>
    </div>
    <button class="submit">提交</button>
</div>