<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            background-color: lightgray;
        }
        .submit {
            width: 5rem;
            background-color: orangered;
        }
    </style>
</head>
<body>
        <fieldset>
            <legend>登录</legend>
            用户名: <input type="text" name="username"><br>
            密码: <input type="text" name="password"><br>
            <button class="submit login">登录</button>
        </fieldset>
        <fieldset>
            <legend>注册</legend>
            用户名: <input type="text" name="username"><br>
            密码: <input type="text" name="password"><br>
            <button class="submit login">注册</button>
        </fieldset>
    <a href="../index.html">暂不登录</a>
</body>
</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/address.js"></script>
