
<div class="myBox">
    <div class="myhead myjiujiao">
        <div  class="jiujiao">
            <img src="img/zuojiantou.png" alt="" class="zuojiantou pull-left" onclick="javascript:history.back()">
            <p>我的酒窖</p>
            <p class="fanhui pull-right">返回</p>
        </div>
        <a href="setPw.html">
            <img src="img/我的.头像.png" class="mytouxiang" alt="">
        </a>
    </div>
    <div class="mycontent">
        <a href="template/shoppingCart">
            <img src="img/我的.查看全部订单.png" class="myallorder" alt="">
        </a>
        <div class="mymenu">
            <a href="template/PayOrder.html" class="myapay">
                <img src="img/我的.代付款.png" class="myPay" alt=""></a>
            <img src="img/我的.待收货.png" alt="">
            <img src="img/我的.已完成.png" alt="">
            <img src="img/我的.退款.png" alt="">
        </div>
    </div>
    <div class="myFoot">
        <img src="img/我的.收货管理.png" alt="" ng-click="goReipt()">
        <a href="MyFavorites.html">
            <img src="img/我的.我的收藏.png" alt="" class="shoucang">
        </a>
        <img src="img/我的.联系客服.png" alt="">
    </div>
</div>
