<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container container-i">
			<div ng-click="goShouye()" class="container-goUrl container-goUrl-click">
				<i class="iconfont icon-shouye"></i>
				<p class="iTetx">首页</p>
			</div>
			<div ng-click="goFenlei()" class="container-goUrl">
				<i class="iconfont icon-fenlei"></i>
				<p class="iTetx">分类</p>
			</div>
		<a href="template/shoppingCart.html">
			<div class="container-goUrl">
				<i class="iconfont icon-gouwuche"></i>
				<p class="iTetx">购物车</p>
			</div>
		</a>
			<div ng-click="goWode()" class="container-goUrl">
				<i class="iconfont icon-iconfontyonghu" ng-click="goSetPassowrd()"></i>
				<p class="iTetx" ng-click="goSetPassowrd()">我的</p>
			</div>
	</div>
</nav>