<div class="cateRdiv">
    <div class="chanqu">
        <p>产区</p>
        <table class="cateTable" >
            <tr>
                <td>博尔顿</td>
                <td>香槟</td>
                <td>勃艮第</td>
            </tr>
            <tr>
                <td>罗纳河谷</td>
                <td>南澳</td>
                <td>加强葡萄酒</td>
            </tr>
        </table>
    </div>
    <div class="leixing">
        <p>类型</p>
        <table class="cateTable" >
            <tr>
                <td>红葡萄酒</td>
                <td>白葡萄酒</td>
                <td>桃红葡萄酒</td>
            </tr>
            <tr>
                <td>甜葡萄酒</td>
                <td>贵腐酒</td>
                <td>加强葡萄酒</td>
            </tr>
        </table>
    </div>
    <div class="pinzhong">
        <p>葡萄品种</p>
        <table class="cateTable" >
            <tr>
                <td>赤霞珠</td>
                <td>美乐</td>
                <td>品丽珠</td>
            </tr>
            <tr>
                <td>黑皮诺</td>
                <td>马尔贝克</td>
            </tr>
        </table>
    </div>
</div>