<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="image/首页logo.png" alt="">
        </a>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="拉菲">
        <i class="iconfont icon-sousuo"></i>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="template/login.html">登录</a></li>
    </ul>
</nav>
<div class="bigImgDiv">
    <img src="image/首页-big.png" alt="">
</div>
<div class="smallImgDiv">
    <a href="template/每日推荐.html">
        <img src="image/首页.每日推荐.png" alt="">
    </a>
    <a href="template/">
        <img src="image/首页.限时闪购.png" alt="">
    </a>
    <a href="template/ShopHome.html">
        <img src="image/首页.新品上架.png" alt="">
    </a>
    <a href="template/search.html">
        <img src="image/首页.热销推荐.png" alt="">
    </a>
</div>
<div class="lingImgDiv">
    <img src="image/首页.活动精选.png" alt="">
</div>
<div class="list-group">
    <a href="###" class="list-group-item jiujie">
        <img src="image/首页.国美酒节.png" alt="">
    </a>
    <a href="###" class="list-group-item maotai">
        <img src="image/首页.茅台红色限量版.png" alt="">
    </a>
    <a href="###" class="list-group-item">
        <img src="image/首页.清新纯净1.png" alt="">
    </a>
    <a href="###" class="list-group-item">
        <img src="image/首页.清新纯净2.png" alt="">
    </a>
    <a href="###" class="list-group-item">
        <img src="image/首页.艺术家最爱.png" alt="">
    </a>
    <a href="###" class="list-group-item">
        <img src="image/首页.法兰西之夜.png" alt="">
    </a>
    <a href="###" class="list-group-item">
        <img src="image/首页.艺术家最爱.png" alt="">
    </a>
</div>
<div class="tuijian">
    <img src="image/tuijian.png" alt="" class="tuijianImg">
    <a href="template/search.html" class="list">
        <img src="image/首页.澳洲原瓶.png" alt="">
    </a>
    <a href="template/search.html" class="list">
        <img src="image/首页.澳大利亚.png" alt="">
    </a>
    <a href="###" class="list">
        <img src="image/首页.澳洲原瓶.png" alt="">
    </a>
    <a href="###" class="list">
        <img src="image/首页.澳大利亚.png" alt="">
    </a>
</div>