<div class="setPw">
    <div class="head">
        <i class="iconfont icon-zuoyoujiantou" onclick="javascript:history.back()"></i>
        <p>修改登录密码</p>
        <a href="">关闭</a>
    </div>
    <div class="content">
        <img src="image/setPassword-two.png" alt="">
    </div>
    <div class="passwdDiv">
        <div class="input-one">
            <span class="inputText inputText-one">旧密码:</span>
            <input type="text" placeholder="请输入密码" class="input">
        </div>
        <div class="input-two">
            <span class="inputText inputText-two">新密码:</span>
            <input type="text" placeholder="请输入密码" class="input">
        </div>
        <p class="pwText">密码请使用数字,字母或下划线,6-20个字符</p>
        <div class="input-th">
            <span class="inputText inputText-th">确认密码:</span>
            <input type="text" placeholder="请再次输入密码" class="input">
        </div>
    </div>
    <button class="submit">提交</button>
</div>