<div class="setPw">
    <div class="head">
        <i class="iconfont icon-zuoyoujiantou" onclick="javascript:history.back()"></i>
        <p>修改登录密码</p>
        <a href="">关闭</a>
    </div>
    <div class="content">
        <img src="image/phone验证.png" alt="">
    </div>
    <p class="phone">已验证手机号码: <span>183****1350</span></p>
    <p class="vCode">验证码:</p>
    <div class="inputDiv">
        <input type="text" placeholder="点击获取验证码" class="input">
        <button class="getCode">获取验证码</button>
    </div>
    <button class="next" ng-click="next()">下一步</button>
</div>


