<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../css/basebetter.css">
</head>
<body>
    <div class="ShopAssess">
        <div class="NewpeiHeader">
            <a href="###" onclick="javascript:history.back()"><img src="../img/分类.左箭头.png"  class="NewpeiArrows"></a>
            <span class="ShopHomeSpan">商品</span>
            <span class="ShopHomeSpan">详情</span>
            <span class="ShopHomeSpan">评价</span>
            <img  src="../img/分享.png" class="ShopHomeImg" alt="">
        </div>
        <div class="ShopAssessCont">
            <img src="../img/全部.png"  class="AssessImg1" alt="">
            <img src="../img/好评.png"  class="AssessImg2"alt="">
            <img src="../img/中评.png"  class="AssessImg3"alt="">
            <img src="../img/差评.png"  class="AssessImg4"alt="">
            <img src="../img/好评度.png" class="AssessImg5"alt="">

            <div class="ShopcontCom">
                <img src="../img/ShopHome头像.png" alt=""><span>齐***疯</span><img src="../img/评价星星.png" alt=""><br>
                <p>忠实的果粉,苹果就是好用,超薄,配置也不错,国美发货压块,快递员服务态度超好,醉倒显示良好</p>
                <p class="CommentP">颜色:银灰 版本:全网通</p>
            </div>
            <div class="ShopcontCom">
                <img src="../img/ShopHome头像.png" alt=""><span>齐***疯</span><img src="../img/评价星星.png" alt=""><br>
                <p>忠实的果粉,苹果就是好用,超薄,配置也不错,国美发货压块,快递员服务态度超好,醉倒显示良好</p>
                <p class="CommentP">颜色:银灰 版本:全网通</p>
            </div>
            <div class="ShopcontCom">
                <img src="../img/ShopHome头像.png" alt=""><span>齐***疯</span><img src="../img/评价星星.png" alt=""><br>
                <p>忠实的果粉,苹果就是好用,超薄,配置也不错,国美发货压块,快递员服务态度超好,醉倒显示良好</p>
                <p class="CommentP">颜色:银灰 版本:全网通</p>
            </div>
        </div>
        <div class="ShopHomeFoot">
            <img src="../img/收藏.png" class="ShopHoLogo1" alt="">
            <img src="../img/购物车.png" class="ShopHoLogo2" alt="">
            <img src="../img/加入购物车.png" class="ShopHoLogo3" alt=""><img src="../img/立即购买.png" class="ShopHoLogo4" alt="">
        </div>
    </div>
</body>
</html>